html, body {
	margin: 0;
	padding: 0;
	border-width: 0;
}
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	line-height: 1.3em;
	text-align: center;
	background-color: #eee;
}

.wrapper {
	text-align: left;
	width: 640px;
	background-color: #fff;
	padding: 20px 0 20px 40px;
	margin: 20px auto 0;
	border: 1px solid #999;
}

h1 {
	margin-bottom: 2em;
}
h2 {
	font-weight: normal;
}
form {
	font-size: 13px;
}

div.text {
	clear: left;
	padding-top: .5em;
}

div.radio-text {
	clear: none;
}
.radios,
.text label {
	float: left;
	width: 160px;
}
.text input {
	width: 40px;
}
#vertex-results,
#dirad-results {
	min-height: 36px;
}
* html #vertex-results,
* html #dirad-results {
	height: 36px;
}
#vertex .text label { width: 80px; }

#convert-results {
	min-height: 160px;
}
* html #convert-results {
	height: 160px;
}


#result-front-toric,
#result-toric,
#result-single {
	display: none;
}

.back,
.bi {
	float: left;
	width: 250px;
}
.actions {
	padding: 1em 0;
}
.results span {
	font-weight: bold;
}

.clear {
	clear: both;
}

.error-message {
	padding-left: 8px;
	color: #900;
}